<div style="margin: 20px;">
<h2>Lets Learn Angular Basics...</h2>
<div style="margin: 20px; display: flex; gap: 40px;">
  <button mat-raised-button color="accent" routerLink="learn-pipes">Learn Pipes</button>
    <button mat-raised-button color="warn" routerLink="learn-directives">Learn Directives</button>
</div>
<mat-card class="mat-elevation-z8" style="padding:20px;">
<input type="text" placeholder="Enter ur Email" [(ngModel)]="userEmail"  >
{{userEmail}}


{{doubleTheValue()}}

<!-- String Interpolation{{}} => One Way Data Binding -->
 {{this.userName}}

<br>


<br>
<div style="margin-top: 30px;">

  <!-- Property Binding [] -->
<input type="text" placeholder="Enter ur Name" [value]="userName" >
<br>
<button (click)="submit()"  >Submit</button>
</div>
<br>
{{userEmail}}
<br>
<!-- Two Way binding in Angular [()].... Banana in   BOx syntax -->
<div style="margin-top: 20px;">
  <label>This is user email</label>
  <input type="text" placeholder="Enter ur Email" [(ngModel)]="userEmail"  >
  <button (click)="submit()"  >Submit</button>
</div>




</mat-card>


<router-outlet></router-outlet>
</div>
