<!-- <h1> Welcome to Login....</h1> -->

<mat-card style="width: fit-content;margin: auto;padding: 30px;">
  <h2>Weclome to Login,...</h2>
<form [formGroup]="loginForm">

  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="userName" >


  </mat-form-field>
<br>
  <mat-form-field appearance="outline">
    <mat-label>PassWord</mat-label>
    <input matInput formControlName="password" >


  </mat-form-field>
<div>
  <button mat-raised-button color="primary" >Login</button>
  <button mat-raised-button style="margin-left: 20px;" color="warn">Cancel</button>
</div>
</form>
</mat-card>
